<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    Front Index
<p th:text="${reply}"></p>
    <form action="#" th:action="@{/addUser}" method="POST" th:object="${user}">

        <input type="text" th:name="name">
        <input type="text" th:name="email">
        <input type="text" th:name="password">

        <!--<input type="text" th:field="*{email}">-->
        <!--<input type="text" th:field="*{password}">-->

        <input type="submit" value="Add">

    </form>
</body>
</html>